---
import Container from '../components/Container.astro';
---

<main>
	<Container>
		<div class="center-container">
			<h1>404 Not Found</h1>
		</div>
	</Container>
</main>

<style>
	.center-container {
		display: flex;
		justify-content: center;
	}
</style>
