---
import Container from '../components/Container.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dominique's Blog">
	<main>
		<Container>
			<h1>Dominique's Blog</h1>
			<p>
				Fugiat asperiores in et eligendi corporis cupiditate ab. Qui odit quia totam ducimus harum aliquid molestias.
				Quae natus doloribus soluta enim id esse.
			</p>
			<p>
				Quo est vel id velit rerum. Distinctio enim explicabo et eos iure suscipit adipisci. Harum quia omnis
				repudiandae perferendis sint et ut. Incidunt temporibus laborum quibusdam facere error.
			</p>
			<p>
				Sit harum nesciunt harum distinctio exercitationem iusto dignissimos porro. Molestiae et nostrum porro. Quasi
				voluptatem aperiam enim consequuntur repellendus pariatur. Ex aut cum praesentium. Nihil non placeat ut nemo
				reiciendis.
			</p>
			<p>Et assumenda quidem dolores aut. Distinctio ea voluptatum mollitia cumque quaerat. Aut et odit expedita.</p>
			<p>
				Veritatis quam dolores pariatur. Reprehenderit mollitia perspiciatis accusantium et ducimus rem. Quia qui
				consequuntur id et incidunt. Ducimus unde consequatur ex deleniti earum aut dolor. Alias consequatur optio
				recusandae repellendus veniam dolorem aut alias.
			</p>
		</Container>
	</main>
</Layout>
