---

---

<div class="alert">
	<slot />
</div>

<style>
	.alert {
		display: flex;
		align-items: center;
		padding-left: 1rem;
		padding-right: 1rem;
		padding-top: 0.75rem;
		padding-bottom: 0.75rem;
		background-color: #feebc8;
		border-radius: 0.375rem;
	}
</style>
