---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Something somehing my personal blog" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	html {
		font-family: ui-sans-serif, sans-serif;
		line-height: 1.5;
		padding-bottom: 6rem;
		color: #454545;
	}

	:where(img, video) {
		max-width: 100%;
		height: auto;
	}

	:where(figure) {
		margin-left: 0;
		margin-right: 0;
	}

	:where(figure > figcaption) {
		font-size: 0.8rem;
	}
</style>
